.btn-center{
  /* float: ; */
  width: 100%;
}

.top-space-10{
  margin-top: 10%;
}

.top-space-5{
  margin-top: 5%;
}

.title{
  font-size: 2rem;
}

.collapse:not(.in) > .card-body > .row{
    display: none;
}
